<%- layout('../layouts/boilerplate.ejs') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <p><%= err.stack %></p>
          </div>
    </div>
    <div class="col-6 offset-3">
        <a href="/campgrounds" class="btn btn-info text-white" > Go Back</a> 
    </div>
</div>